<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

        <title>myStudies</title>  
        <link rel="stylesheet" href="styles.css">

        <style>
            #home-label {
				padding: 10px;
				margin-left: 45%;
				margin-bottom: 0%;
				float: center;
				font-size: 40px;
			}
        </style>
    </head>

    <body>
        <div id="navbar">
			<nav>
				<ul id="navbar-list">
					<li id="myStudies-title" class="nav-item"><h1><a href="/" id="home-link">myStudies</a></h1></li>
					<li class="nav-item"><span><a href="/login" class="nav-link">Login</a></span></li>
					<li class="nav-item"><span><a href="/create_account" class="nav-link">Create Account</a></span></li>
					<li class="nav-item"><span><a href="/manage_tasks" class="nav-link">Manage Tasks</a></span></li>
					<li class="nav-item"><span><a href="#" class="nav-link">Current Task</a></span></li>
				</ul>
			</nav>
		</div>

        <h2 id="home-label">Home</h2>
        <div>
            <img src ='/IMG_1647.JPG' style="margin-left: 42%;">
        </div>
    </body>

	<footer style="padding: 5%; margin-top: 20%;" id="footer-bar">
		<p>2022 Shweta Narayanan | Skyline High School</p>
	</footer>
</html>